@font-face{
    font-family: 'jaro';
    src: url('../font/Jaro-Regular.ttf') format('truetype');
}
  
html{
    scroll-behavior: smooth;
}
    
.divider{
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 0;
    font-family: 'jaro', sans-serif;    
}
  
.marquee{
    will-change: transform;
}
    
.marquee-wrapper{
    display: flex;
    overflow: hidden;
}
    
.marquee-left{
    display: flex;
    animation: scroll-left 10s linear infinite;
}
  
.marquee-right{
    display: flex;
    animation: scroll-right 10s linear infinite;
}
    
.marquee span{
    color: rgb(154, 154, 154);
    font-size: 24px;
    padding-right: 1px;
    font-size: 60px;
}
  
.marquee-left,
.marquee-right{
    display: flex;
    min-width: 200%; /* Penting! biar isi lebih panjang dari layar */
}
     
@keyframes scroll-left{
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-50%);
    }
}
  
@keyframes scroll-right {
    0%{
      transform: translateX(-50%);
    }
    100%{
      transform: translateX(0);
    }
}
    