*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner{
  background-image: url('banner.png');
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-section{
  display: flex;
  justify-content: center;
}

.menu-images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.menu-images img{
  width: 170px;
  height: 170px;
  object-fit: cover;
}

.menu-card{
  width: fit-content;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}

.menu-overlay{
  position: absolute;
  top: 40%;
  text-align: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0, 5);
  border-radius: 15px;
}

.menu{
  display: inline-block;
  padding: 18px 64px;
  font-size: 40px;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  background-color: white;
  border: 1px solid #000;
  border-radius: 999px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  text-align: center;
  margin-top: 20px;
}

.promo{
  margin-top: 8%;
  padding: 40px 20px;
  text-align: center;
}

.promo h2{
  text-align: center;
  font-size: 40px;
}

.promo-cards{
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.promo-cards img{
  width: 30%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}