html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, sans-serif;
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content{
  flex: 1;
}


html{
  scroll-behavior: smooth;
}

.login-container{
  max-width: 500px;
  justify-content: center;
  align-items: center;
  margin: 0px 380px;
}

h1{
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
}
form{
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.password-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-wrapper input, input[type="email"]{
  width: 100%;
  padding: 12px 40px 12px 12px; 
  font-size: 16px;
  border: 1px solid #888;
  border-radius: 4px;
  box-sizing: border-box;
}

.toggle-password{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  color: #555;
}