.menuList{
    display: block;
}
.editMenu{
    display: none;
}
.addMenu{
    display: none;
}
.kategori{
    display: none;
}
.manageMenu{
    display: none;
}
.manageKategori{
    display: none;
}

img{
    width: 50%;
    height: auto;
}